*{
    margin: 6px;
    padding: 6px;
    font-family: sans-serif;
<<<<<<< HEAD
    text-align: center;
}

.container {
    width: 600px;
    height: 800px;
    margin-top: 50px;
    border: 3px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    margin-bottom: 16px;
=======
}

.container {
    width: 1000px;
    height: 500px;
    margin:auto;
    position: relative;
    text-align: center;
>>>>>>> 4c30cad3131aa16bf937f8cea36dea2e78a9f30d
}
.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.welcome-text {
    text-align: center;
}

<<<<<<< HEAD
.form {
    margin-top: 50px;
    width: 600px;
    border: 3px;
    outline: auto;
}

=======
>>>>>>> 4c30cad3131aa16bf937f8cea36dea2e78a9f30d
form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: black;
    border-radius: 5px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}

::placeholder {
    color: #777;
<<<<<<< HEAD
}
=======
}

>>>>>>> 4c30cad3131aa16bf937f8cea36dea2e78a9f30d
